{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="google-site-verification" content="UzRsUPNUyEfN2F8Sk50Hv0hjwKo3Q4o6cFTRpT6Sfs4" />
    <link rel="stylesheet" href="{%  static "plants/css/base.css" %}" />
    <link rel="stylesheet" href="{%  static "plants/css/layout.css" %}" />
    <link rel="stylesheet" href="{%  static "plants/css/skeleton.css" %}" />
    {% block canonical %}{% endblock %}
    <title>{% block title %}Consumer Fact Sheets{% endblock %}</title>
<link href="http://www.ces.ncsu.edu/favicon.ico" rel="Shortcut Icon" type="image/x-icon">
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-32659497-3', 'ncsu.edu');
  ga('send', 'pageview');

</script>
</head>

<body>
    <div class="container">

    <div id="spinner" class="spinner" style="display:none;">
        <img id="img-spinner" src="/static/plants/css/images/ajax-loader.gif" alt="Loading"/>
    </div>

        <div class="sixteen columns">

            <div id="ncce-logo-header" class="eleven columns">
                <div id="ncce-ncsu-brick">
                    <img alt="NC State University Brick Logo" src="http://www.ces.ncsu.edu/images/ncsu_red_brick.png" height="22" width="142">
                </div>
                <img alt="NCCE Logo" src="http://www.ces.ncsu.edu/images/logos/nc-cooperative-extension-logo.png">
            </div>

            <div id="search_div" class="five columns">
                <form class="search_form" action="/plants/search/" method="get" >
{#                    {% if error %}#}
{#                        <p style="color: red;">Please submit a search term.</p>#}
{#                    {% endif %}#}
                    <div class="search_error" {% if error %}style="display: block;"{% endif %}>Please submit a search term.</div>
                    <input type="submit" id="search_submit" class="search" value="Search" />
                    <input type="text" name="q" id="search_input" value="{{ search_query|default_if_none:"" }}" />
                </form>
            </div>

        </div>

        <div id="content" class="sixteen columns">
            <div class="plant_detail">
                {% block content %}{% endblock %}
            </div>
        </div>

    </div>
</body>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script src="{%  static "plants/js/main.js" %}"></script>
</html>